header {
  position: absolute;
  left: 470px;
  top: 100px;
  color: white;
}
input[type=text] {
  position: absolute;
  top: 35%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 15px;
  color: rgb(45, 37, 70);
}
button {
  position: absolute;
  top: 35%;
  left: 65%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background: #d9d9d9;
  color: #010308;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 15px auto;
  padding: 15px;
  width: 50%;
  color: #12e440;
}

ul li {
  background: rgb(45, 37, 70);
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #ddd;
  top: 40%;
  width: 55%;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 16px rgba(131, 131, 17, 0.35);
}

ul li:hover {
  background: #032d6181;
}

ul li.checked {
  text-decoration: line-through;
  color: #999;
}

ul li span {
  color: rgba(5, 104, 119, 0.041);
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.done {
  text-decoration: line-through;
  color: gray;
}
li:hover {
  background-color: #d0e1fd;
}

