body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("desktop.jpg.jpg");
  background-size: cover;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
}


header {
  position: absolute;
  left: 570px;
  top: 100px;
  color: white;
}
input[type=text] {
  position: absolute;
  top: 35%;
  left: 54%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 15px;
  color: rgb(45, 37, 70);
  align-items: center;
}
button {
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background: #d9d9d9;
  color: #010308;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 15px auto;
  padding: 15px;
  width: 50%;
  color: #12e440;
}

ul li {
  background: rgb(45, 37, 70);
  left: 200px;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #ddd;
  top: 40%;
  width: 55%;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

ul li:hover {
  background: #032d6181;
}

ul li.checked {
  text-decoration: line-through;
  color: #999;
}

ul li span {
  color: rgba(5, 104, 119, 0.041);
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}
.checked {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}


li:hover {
  background-color: #d0e1fd;
}

footer {
 text-align: center;
 color: white;
}